# vscode
.vscode
.idea/

# macOS
.DS_Store

# pycache
__pycache__

# datasets
datasets

# experimental results
checkpoints
local_output
logs
wandb
work_dir/
output/
evaluation_results*

# pretrain models
*.pb
*.npz
*.pth
pretrained_models/


# pkgs
*.whl
*.zip

# kernels
models/hart/kernels/build/
models/hart/kernels/hart_backend.egg-info/
models/hart/kernels/dist
*.so

# dev ing...
*.pkl
tools/conf.py

models/fastvar/old_version/
models/lpd/orders/
models/infinity copy/
mytest/

scripts/exp*
scripts/spattn_exp/
