# vscode
.vscode
.idea/

# macOS
.DS_Store

# pycache
__pycache__

# datasets
datasets

# ====== experimental results ======
checkpoints
local_output
logs
wandb
work_dir/
output/
evaluation_results*

# ====== pretrain models ======
*.pb
*.npz
*.pth
pretrained_models/

# ====== pkgs & zips ======
*.whl
*.zip
evaluation/imagenet/torch-fidelity

# ====== kernels ======
*.so
# --- HART ---
models/hart/kernels/build/
models/hart/kernels/hart_backend.egg-info/
models/hart/kernels/dist
models/hart/attn_map_vis/
# --- Triton ---
kernels/flash_atten/triton/*.csv
kernels/flash_atten/triton/*.png
kernels/flash_atten/triton/*.html

# ====== dev ing... ======
# TODO & old version
TODO_*

*.log
*.pkl
*_ours.sh
tools/conf.py
tools/conf_none.py

mytest/

# ====== AI coding ======
docs/
AGENTS.md
CLAUDE.md
*_codex.md
*_context.md
tasks.md


