# torch~=2.6.0
accelerate
clean-fid
clip_benchmark
decord
einops
httpx
huggingface_hub
imageio
lightning-fabric
matplotlib
ninja
numpy
nvidia-ml-py
openai
opencv-python
Pillow
psutil
pytest
pytorch_lightning
pytz
seaborn
transformers==4.57.6
tabulate
typed-argument-parser
# tensorflow-io
tensorboard
wandb
