# torch~=2.6.0
clean-fid
clip_benchmark
Pillow
psutil
httpx
huggingface_hub
lightning-fabric
matplotlib
ninja
numpy
nvidia-ml-py
openai
opencv-python
pytorch_lightning
pytz
seaborn
transformers
tabulate
typed-argument-parser
# tensorflow-io
tensorboard
wandb
